.form-signin {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 600px;
    justify-content: center;
    width: 100%;
}

.form-signin-container {
    align-items: center;
    border-top: #00EED0;
    border-top-style: solid;
    border-top-width: 10px;
    border-radius: 5px;
    color: dimgray;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 400px;
    justify-content: center;
    width: 30%;
}

.form-signin-title {
    font-size: 40px;
    padding: 0px;
    margin: 5px;
}

.form-signin-input {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
}

.form-signin-button {
	box-shadow:inset 0px 1px 0px 0px #FFD400;
	background-color:#FFD400;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
    text-shadow:0px 1px 0px #ffffff;
    height: 40px;
}

