.sidebar {
    align-items: center;
    color: dimgray;
    box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
    display: flex;
    position: fixed;
    left: 0px;
    top: 0px;
    flex-direction: column;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 100vh;
    width: 250px;
}

.sidebar-title {
    align-items: center;
    min-height: 100px;
    border: #00EED0;
    border-bottom: #FFD400;
    border-style: solid;
    border-width: 5px;
    display: flex;
    font-size: 28px;
    flex-direction: row;
    height: 15vh;
    width: 240px;
}

.sidebar-title:hover {
    background: azure;
    cursor:pointer;
}

.sidebar-title:active {
    border-top-width: 10px;
    background: #FFD400;
}

.sidebar-image {
    margin: 10px;
    width: 30px;
}

.sidebar-title-image {
    margin: 10px;
    width: 80px;
}

.sidebar-options {
    align-items: center;
    border: #00EED0;
    border-style: solid;
    border-width: 5px;
    border-top-width: 0px;
    display: flex;
    font-size: 28px;
    flex-direction: column;
    height: 85vh;
    width: 240px;
}

.sidebar-option {
    align-items: center;
    border: #00EED0;
    border-style: solid;
    border-width: 5px;
    border-top-width: 0px;
    display: flex;
    font-size: 28px;
    flex-direction: row;
    height: 50px;
    width: 240px;
}

.sidebar-option:hover {
    background: azure;
    cursor:pointer;
}

.sidebar-option:active {
    border-top: #00EED0;
    border-style: solid;
    border-top-width: 5px;
    background-color: #FFD400;
}

.header {
    align-items: center;
    color: dimgray;
    box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.75);
    display: flex;
    position: fixed;
    left: 250px;
    top: 0px;
    flex-direction: row;
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 18vh;
    width: 100vw;
}